config.php
/assets/img/*
/assets/uploads/*
/assets/lunar_assets/*
/vendor/*
config.php
/wed-admin/images/*
/wed-admin/bootstrap/*
assets/css/vendor
assets/js
vendor
wed-admin/bootstrap
wed-admin/bootstrap-rtl-master
wed-admin/font-awesome
wed-admin/js
wed-admin/images/
